body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 100px; /* Extra space for the larger tab bar */
}
h1 {
    text-align: center;
    color: #333;
}

.date {
    font-weight: bold;
    color: #333;
    margin-top: 40px;
    margin-bottom: 20px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.card-header {
    background-color: #FFE7C6;
    width: 100%;
    height: 40px;
    position: relative;
}
.card-options {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}
.card-content {
    padding: 10px;
    text-decoration: none;
    
}
.card-content p {
    margin: 0;
    line-height: 1.4;
}
.card-content p.name {
    font-weight: bold;
    font-size: 14px;
    color: #333;
}
.card-content p.location {
    font-size: 12px;
    color: gray;
    text-decoration: none;
    
}


.context-menu {
    display: none; /* Hidden by default */
    position: absolute;
    right: 0;
    top: 30px; /* Push it below the three dots */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
}

.context-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
}

.context-menu a:hover {
    background-color: #f0f0f0;
}